@media screen and (max-width: 480px) {
    .switch-component {
        &__wrapper {
            * {
                padding: 0 5px;
            }
        }

        input[type="checkbox"].switcher {
            font-size: 15px;
        }
    }
}

@media screen and (max-width: 531px) {
    .menu {
        &__buttons {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1200px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    top: 2.5rem;
                    left: 5rem;
                }
            }

            .card-play__wrapp {
                &:before {
                    bottom: 75px;
                }
            }

            .btn-text {
                font-size: 1rem;
            }

            #wordReverse {
                font-size: 1rem;
            }
        }

        .card.back {
            width: 208px;
        }
    }
}

@media screen and (max-width: 991px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    top: 2.5rem;
                    left: 5rem;
                }
            }
        }

        .card.back {
            width: 207.9px;
        }
    }
}


@media screen and (max-width: 767px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    top: 3.5rem;
                    left: 6rem;
                }
            }
        }

        .card.back {
            width: 238px;
        }
    }
}

@media screen and (max-width: 575px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    width: calc(100% - 12rem);
                    height: calc(100% - 14rem);
                    top: 4rem;
                    left: 6rem;
                }
            }
        }

        .card.back {
            width: 522px;
        }

    }
}