@media screen and (max-width: 480px) {
    .switch-component {
        &__wrapper {
            * {
                padding: 0 5px;
            }
        }
    }
}

@media screen and (max-width: 531px) {
    .menu {
        &__buttons {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 1200px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    top: 2.5rem;
                    left: 5rem;
                }
            }

            .card-play__wrapp {
                &:before {
                    bottom: 75px;
                }
            }

            .card-play-mode__wrapp {
                &:before {
                    bottom: 82px;
                }
            }

            .btn-text {
                font-size: .9rem;
            }

            #wordReverse {
                font-size: 1rem;
            }
        }

        .card.back {
            width: 208px;

            span#wordReverse {
                font-size: .9rem;
            }
        }

    }
}

@media screen and (max-width: 991px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    top: 2.5rem;
                    left: 5rem;
                }
            }
        }

        .card.back {
            width: 207.9px;
        }
    }

    .menu {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__buttons {}
    }

    .footer {
        display: none;
    }
}


@media screen and (max-width: 767px) {

    .menu {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }

        &__buttons {}
    }

    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    top: 3.5rem;
                    left: 6rem;
                }
            }
        }

        .card.back {
            width: 238px;
        }
    }
}

@media screen and (max-width: 575px) {
    .cards {
        .card.front {
            .card-play__wrapp {
                svg {
                    width: calc(100% - 12rem);
                    height: calc(100% - 14rem);
                    top: 4rem;
                    left: 6rem;
                }
            }

            .btn-text {
                font-size: 1.2rem;
            }

            .card-play__wrapp {
                &:before {
                    bottom: 82px;
                }
            }

            #wordReverse {
                svg {
                    width: 1.8rem;
                    height: 1.8rem;
                }
            }

        }

        .card.back {
            left: 15px;
            width: calc(100% - 30px);

            span#wordReverse {
                font-size: 1.2rem;
            }
        }

    }
}