@import '~normalize-scss';

@import "~bootstrap/scss/functions";

@import "~bootstrap/scss/variables";

@import './abstracts/variables';

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/print";


// @import './base/fonts';
@import './abstracts/mixins';


:root {
  font-size: 15px;
  font-family: 'Roboto-regular', sans-serif;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  background: gray;
  margin: 0;
  padding: 0;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 1;
}

@import './layout/header';
@import './components/sidebar';
@import './components/switch';
@import './components/cards';
@import './components/star';
@import './layout/mobile';