.cards {

    .card.active.back {
        transform: rotateY(360deg);
    }

    .card.active.front {
        transform: rotateY(180deg);
    }

    .card.front,
    .card.back {

        width: 100%;
        height: 100%;
        transition: .6s;
        backface-visibility: hidden;

        cursor: pointer;

        &:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22)
        }

    }

    .card.front {
        .card-play__wrapp.card-play-mode__wrapp {
            &:before {
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #28a74591 100%);
            }
        }
        .card-play__wrapp {
            svg {
                transition: .3s;
                animation: fadein .3s;
                position: absolute;
                top: 59px;
                left: 96px;
                display: none;
                color: white;
            }

            &:before {
                animation: fadein .3s;
                display: none;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 82px;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #e91e63ab 100%);
            }

            &:hover::before {

                display: block;
            }

            &:hover {
                svg {
                    display: block;
                }
            }

            .card-img-top {
                &:hover {}
            }
        }
    }

    .card.back {
        position: absolute;
        top: 0;
        width: 255px;
        transform: rotateY(180deg);
    }

}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}