.header_absolute {
  position: absolute !important;
}

.header {
  position: fixed;
  top: initial;
  height: 12rem;
  align-items: center;
  display: flex;
  background-color: #FFFFFF;
  z-index: 10;
}
.header .menu .list__link {
  color: #292929;
}
.header .menu .list__link:hover {
  color: #292929;
}
.header .menu .list__link_active {
  box-shadow: 0 4px 0 -1px #F1CDB3;
}
.header .menu .list__link_disabled {
  color: #545454;
}
.header .menu .list__link-nohover:hover {
  color: #545454;
  cursor: initial;
}
.header .logo__title {
  color: #545454;
}
.header .logo__subtitle {
  color: #292929;
}

.pets {
  padding-bottom: 9.7rem;
}
.pets__wrapper {
  padding-top: 12rem;
}
.pets__title {
  max-width: initial;
}
.pets__title-task {
  position: absolute;
  visibility: hidden;
}
.pets__cards-wrapper {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 3rem;
  width: 100%;
}
.pets__cards-wrapper #pets-cards {
  display: flex;
  justify-content: center;
  min-width: 100%;
}
.pets__cards-wrapper #pets-cards .slick-slide {
  margin: 0 1.5rem;
}
.pets__cards-wrapper #pets-cards .slick-slide:focus {
  outline: none;
}
.pets__cards-wrapper .pets-card {
  display: flex !important;
  flex-direction: column;
  background-color: #FAFAFA;
  transition-duration: 0.3s;
  cursor: pointer;
  border-radius: 0.9rem;
  margin-bottom: 3rem;
}
.pets__cards-wrapper .pets-card:hover {
  background-color: #FFFFFF;
}
.pets__cards-wrapper .pets-card:focus {
  outline: none;
}
.pets__cards-wrapper .pets-card__content {
  margin: 0 auto;
}
.pets__cards-wrapper .pets-card:hover {
  box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pets__cards-wrapper .pets-card__image {
  height: auto;
  max-width: 100%;
}
.pets__cards-wrapper .pets-card__title {
  margin: 3rem 0;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #545454;
}
.pets__cards-wrapper .pets-card__button {
  margin-bottom: 3rem;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #F1CDB3;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 1.5rem 4.5rem;
  transition-duration: 0.3s;
  color: #292929;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  letter-spacing: 0.108rem;
  line-height: 130%;
}
.pets__cards-wrapper .pets-card__button:hover {
  box-shadow: none;
  background-color: #FDDCC4;
}
.pets__pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.pets__list {
  display: flex;
  flex-direction: row;
}
.pets__list-item {
  padding: 0 1rem;
}
.pets__list-item button {
  width: 52px;
  height: 52px;
  background-color: #f6f6f6;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  border-radius: 50%;
  border: 2px solid #f1cdb3;
}
.pets__list-item button:focus {
  outline: none;
}
.pets__list-item .pagination__button:hover {
  cursor: pointer;
  background-color: #f1cdb3;
  transition: all 0.3s;
}
.pets__list-item .pagination__counter {
  background-color: #f1cdb3;
}
.pets__list-item .slick-disabled {
  border-radius: 50%;
  border: 2px solid #CDCDCD;
}
.pets__list-item .slick-disabled:hover {
  cursor: initial;
  background-color: initial;
  transition: initial;
}

@media screen and (max-width: 1279px) {
  .pets__wrapper {
    justify-content: center;
    display: flex;
  }
  .pets__cards-wrapper {
    max-width: 62rem;
  }
}
@media screen and (max-width: 767px) {
  .header .menu__burger-icon {
    top: 5rem;
  }
  .header .menu .list {
    background-color: #F6F6F6;
  }
  .pets__cards-wrapper {
    max-width: 31rem;
  }
  .pets__list-item {
    padding: 0 0.5rem;
  }
}